/*Elamanların alt gölgesi*/
.shadow-main {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/*Login sayfasındaki labellerin kaydırılması*/
.scroll-label{
    position: absolute;
    z-index: -1;
}
/* Fare imlecini linklerde pointer yapma işlemi */
a{
    cursor: pointer;
}

/* Sağ altta gösterilen toast mesajı */
.notification {
    position: fixed;
    right: 0;
    top: 90%;
}
/* Alert olarak verilen elemanların yazı büyüklüğü */
.alert-size{
    font-size: 12px;
}
/* Radio Button olarak görünen switch renk ayarı  */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #9E1C20 !important;
    background-color: #9E1C20 !important;

}
.btn-outline-danger {
    color: #9E1C20;
    border-color: #9E1C20;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #9E1C20;
    border-color: #9E1C20;
}
