input:focus {

    box-shadow :0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23) !important;
}
select:focus {

    box-shadow :0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23) !important;
}
.btn {

    padding: 0.150rem 1rem !important;
}
primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #9E1C20 !important;
    border-color: #9E1C20 !important;
}
.btn-primary {
    color: #fff;
    background-color: #9E1C20 !important;
    border-color: #9E1C20 !important;
    border-radius: 50rem !important;
}
.fc-bootstrap a.fc-event:not([href]):not([tabindex]) {
    color: #fff;
    background-color: #9E1C20 !important;
    border-color: #9E1C20 !important;
    padding-left: 5px;
}
.fc-event, .fc-event:hover {
    color: #fff;
    background-color: #9E1C20 !important;
    border-color: #9E1C20 !important;

    padding-left: 5px;
}
.btn-success {
    color: #fff !important;
    background-color: #22B24C !important;
    border-color: #22B24C !important;
    border-radius: 50rem !important;
}
.btn-success:hover {
    color: #22B24C !important;
    background-color: #fff !important;
    border-color: #22B24C !important;
    border-radius: 50rem !important;
}
.btn-danger {
    color: #fff !important;
    background-color: #e22620 !important;
    border-color: #e22620 !important;
    border-radius: 50rem !important;
}
.btn-danger:hover {
    color: #e22620 !important;
    background-color: #fff !important;
    border-color: #e22620 !important;
    border-radius: 50rem !important;
}
.btn-info {
    color: #fff !important;
    background-color: #369 !important;
    border-color: #369 !important;
    border-radius: 50rem !important;
}
.btn-info:hover {
    color: #369 !important;
    background-color: #fff !important;
    border-color: #369 !important;
    border-radius: 50rem !important;
}
.btn-outline-danger {
    color: #9E1C20 !important;
    background-color: #fff !important;
    border-color: #9E1C20 !important;
}
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #9E1C20 !important;
    border-color: #fff !important;
}
